
@{
    ViewData["Title"] = "ErrorExpiredAttendance";
}


<h1>Attendance Expired</h1>

<p>Sorry, you can't record attendance for past date.</p>

<p>Click the red link to goto create page.
<u><a class="nav-link" style="color: red; display:inline;" asp-area="" asp-controller="Attendances" asp-action="Create">Here</a></u> 
</p>