
@{
    ViewData["Title"] = "ErrorDuplicateAttendance";
}

<h1>Attendance Error</h1>

<p>Sorry, attendance has already been recorded.</p>

<p>Click the red link to goto create page.
<u><a class="nav-link" style="color: red; display:inline;" asp-area="" asp-controller="Attendances" asp-action="Create">Here</a></u> 
</p>
