
@{
    ViewData["Title"] = "ErrorDuplicateEmployee";
    //Layout = "~/Views/Shared/Error.cshtml";
}

<h1>Employee Exists</h1>

<p>Sorry, an Employee with the entered StaffId already exist.</p>

<p>Click the red link to goto create page.
<u><a class="nav-link" style="color: red; display:inline;" asp-area="" asp-controller="Employee" asp-action="Create">Here</a></u> 
</p>

